* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  z-index: 0;
}

.note {
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
}

.noteContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.note h1 {
  font-size: 22px;
  padding: 10px 0px;

}

.note button {
  height: 40px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(206, 59, 59);
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  border: none;
}

.note-create-form {
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  align-items: center;
}

input {
  height: 40px;
  width: 30%;
  border-radius: 5px;
  padding: 0px 10px;
  margin-top: 10px;
  background-color: #494949;
  color: white;
  outline: none;
  border: none;

}

.note-create-form button {
  height: 40px;
  width: 100px;
  background-color: rgb(248, 71, 71);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  outline: none;
  border: none;
}

.note-create-form button:hover {
  background-color: rgb(75, 216, 75);
  color: black;
  transition: all 0.5 linear;
  cursor: pointer;
  scale: 1.1;
}

.heading {
  color: white;
  margin-left: 45px;
  margin-top: 20px;
}

.note .update {
  background-color: green;
  cursor: pointer;
  outline: none;
  border: none;
}

.Popup{
  background-color: rgb(53, 52, 52) ;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 5px;
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10;
}
.Popup h3{
  color: white;

}
.Popup input{
  width: 100%;
}
.Popup button{
  margin-top: 10px;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.5 linear;

}

.Popup button:hover{
  cursor: pointer;
  background-color: rgb(47, 102, 47);

}

.blur-active{
  filter: blur(8px);
}